.header {
  display: flex;
  max-width: 880px;
  height: 74px;
  flex-wrap: wrap;
  margin: auto;
  padding: 45px 200px;
}

.header-line {
  color: #545454;
  align-items: center;
  width: 880px;
  opacity: 70%;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 45px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 28px 0px;
  }
  .header h1 {
    margin-left: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 0px;
  }
  .header h1 {
    margin-left: 30px;
  }
}
