.header {
  display: flex;
  max-width: 880px;
  height: 74px;
  flex-wrap: wrap;
  margin: auto;
  padding: 45px 200px;
}

.header-line {
  color: #545454;
  align-items: center;
  width: 880px;
  opacity: 70%;
}
