.profile {
  width: 880px;
  height: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-info__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-info__name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profileName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
}

.profile-info__name h2 {
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile-info__rol {
  font-size: 18px;
  line-height: auto;
  margin: 0;
}

.profile-info__button {
  content: "✍";
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.profile-info__button::before {
  content: "✍"; /* Ícono de lápiz */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-info__button:hover {
  background-color: rgba(121, 121, 121, 0.295);
}

.profile-button {
  content: "+";
  position: relative;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 35px;
  border-radius: 2px;
  cursor: pointer;
}

.profile-button::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-button:hover {
  background-color: rgba(121, 121, 121, 0.295);
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 880px;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 710px;
    height: auto;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info__rol {
    text-align: center;
  }
  .profile-button {
    width: 100%;
    margin-top: 20px;
  }

  .profileName {
    text-align: center;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    width: 484px;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    width: 282px;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info__rol {
    text-align: center;
    font-size: 14px;
    line-height: auto;
  }
  .profile-button {
    width: 100%;
    margin-top: 20px;
  }

  .profile-info__name h2 {
    font-size: 22px;
    line-height: auto;
  }

  .profileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
  }

  .profile-info__button {
    width: 18px;
    height: 18px;
  }

  .profile-avatar {
    width: 120px;
    height: 120px;
  }
}
