.profile {
  width: 880px;
  height: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile__avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
  display: block;
}

.profile__avatar-edit {
  position: absolute;
  width: 128px;
  height: 128px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-edit:hover {
  opacity: 1;
}

.profile__avatar-edit i {
  font-size: 16px;
}

.profile__info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__name-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
}

.profile__name-container h2 {
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__role {
  font-size: 18px;
  line-height: auto;
  margin: 0;
}

.profile__edit-button {
  content: "✍";
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.profile__edit-button::before {
  content: "✍"; /* Ícono de lápiz */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__edit-button:hover {
  background-color: rgba(121, 121, 121, 0.295);
}

.profile__add-button {
  content: "+";
  position: relative;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 35px;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__add-button:hover {
  background-color: rgba(121, 121, 121, 0.295);
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 880px;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 710px;
    height: auto;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    flex-direction: column;
  }

  .profile__role {
    text-align: center;
  }
  .profile__add-button {
    width: 100%;
    margin-top: 20px;
  }

  .profile__name {
    text-align: center;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    width: 484px;
  }

  .profile__name-container h2 {
    font-size: 30px;
  }

  .profile__info {
    width: 100%;
  }

  .profile__name {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    width: 282px;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    flex-direction: column;
  }

  .profile__role {
    text-align: center;
    font-size: 14px;
    line-height: auto;
  }
  .profile__add-button {
    width: 100%;
    margin-top: 20px;
  }

  .profile__name-container h2 {
    font-size: 22px;
    line-height: auto;
  }

  .profile__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
  }
}
